@using UANodesetWebViewer.Models

@model ADXModel

@{
    ViewData["Title"] = "Azure Data Explorer Upload";
}
<h1>@ViewData["Title"]</h1>

<div class="row browser_top_container">
    @using (Html.BeginForm("Upload", "ADX"))
    {
    <div class="browser_connect_selection_textbox">
        <p>
            You first need to register this application with Azure Data Explorer (ADX), see <a href="https://docs.microsoft.com/en-us/azure/data-explorer/provision-azure-ad-app" target="_blank" rel="noopener noreferrer">here</a>.<br />
        </p>
        <p>
            ADX instance Url (format: https://YourADXInstanceName.YourADXInstanceRegion.kusto.windows.net)<br />
            @Html.TextBox("instanceUrl", null, new { style = "width:100%;" })<br />
        <p />
        <p>
            ADX database name<br />
            @Html.TextBox("databaseName", null, new { style = "width:100%;" })<br />
        <p />
        <p>
            Azure Subscription Tenant ID (format: XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX)<br />
            @Html.TextBox("tenantId", null, new { style = "width:100%;" })<br />
        <p />
        <p>
            Registered application ID (format: XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX)<br />
            @Html.TextBox("clientId", null, new { style = "width:100%;" })<br />
        <p />
        <p>
            Secret you created for your app registration (found under "Client credentials")<br />
            @Html.Password("secret", null, new { style = "width:100%;" })<br />
        <p />
        <p>
            Upload the loaded nodeset files to ADX<br />
            <input id="uploadButton" class="btn btn-primary btn_browser" type="submit" value="Upload">
        <p />
        <p>
            <b>@Model.StatusMessage</b>
        </p>
    </div>
    }
 </div>
